.hide{
    display: none;
}

#welcomeElement{
    color: white;
}

.bar-chart {
    background-color: #299fd6;
    /* justify-content: space-between; */
}

rect{
    color: #767676;
}

rect:hover{
    color: white;
}

.authSubmit {
    display: block;
}
