.hide{
    display: none;
}

#welcomeElement{
    color: white;
}

.bar-chart {
    background-color: #299fd6;
    /* justify-content: space-between; */
}

rect{
    color: #767676;
}

svg text.label {
    fill:white;
    font: 15px;  
    font-weight: 400;
    text-anchor: middle;
  }

.authSubmit {
    display: block;
}

.errorEmail, .errorEmail1{
    color: red;
}
